DATABASE_URL="mysql://mte:mtepass@localhost:3306/mte_erp"
JWT_SECRET="mte-erp-change-in-production"
PORT=4000
CLUSTER_WORKERS=2
REDIS_URL=redis://127.0.0.1:6379
DARAJA_ENV=sandbox
DARAJA_CONSUMER_KEY=
DARAJA_CONSUMER_SECRET=
DARAJA_PASSKEY=
DARAJA_SHORTCODE=
DARAJA_CALLBACK_URL=
DARAJA_INITIATOR=
DARAJA_SECURITY_CREDENTIAL=
